<h1>Ordered Items</h1>

<br>
<br>
<div align=" center">
<table  class="table table-striped" style="width:500px;margin-left:400px;margin-top: 10px" align="center">
  <thead>
    <tr>
      <th scope="col">MealName</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Add/Remove</th>
    </tr>
  </thead>
  <tbody id="orderTable">

</tbody>
</table>
</div>

<div id="createCheckCTA" class="ctaWrapper">
  <a class="cta green" href="checks/create">Make a Payment</a>
</div>