<h1 xmlns="http://www.w3.org/1999/html">Make a Payment</h1>

<br />


<div class="formWrapper">
  <div >
  		<h2 align="center">subtotal: <span class="text-danger" id="cost"></span></h2>
  		<h2 align="center">delivery: <span class="text-danger" id="deliveryCharge"></span></h2>
  		<h2>total: <span class="text-danger" id="totalCost"></span></h2>
  		<form id="payment" method="POST" action="api/makePayment" class="form-group row">
  			   <div class="formError"></div>

  			<input type="text" placeholder="43240 4234 ..." class="form-group-item form-control " style="width:200px ; margin-left: 140px;" name="token" value="">
  				<br><br>
            <input type="text" placeholder="09/23" class="mr-1  form-group-item form-control " style="width: 100px; margin-left:140px " name="check">

        	<input type="text" placeholder="CVV" class=" ml-1form-group-item form-control" style="width:100px;margin-top: -35px;margin-left: 260px" name="cvv">
       		<br><br>
  			<!--<input type="hidden" name="stripeToken" >
  			<input type="hidden" name="orderId" value="{id}">-->
            <input type="submit" style="width: 100px;border-radius: 20px;margin-left: 170px" value="submit">
  			</form>
  	</div>
</div>
