

<h1>{head.title}</h1>

<div class="container"  id ="meal-list">



<br><br>
  <div class="row">

<div class="col-sm-4">
<div   style=" background-color: grey;width: 250px;height:200px;padding: 25px;margin: 25px;box-shadow:5px 5px">
<h2 style="padding-left:25px; color:white">Chicken Noodles</h2>
<h4 style="color:white;">Noodels contains chicken,pepper,garlic, cheese </h4>
<br>
<h4 style="color:white;">$3.0</h4>
<div id="1">
<button type="button" class="btn add-to-cart" >Order</button>
</div>
</div>
</div>




<div class="col-sm-4">
<div  style=" background-color: grey;width: 250px;height:200px;padding: 25px;margin: 25px;box-shadow:5px 5px">
<h2 style="padding-left:25px; color:white">Margherita</h2>
<h4 style="color:white;">A hugely popular margherita, with a tangy single cheese topping </h4>
<br>
<h4 style="color:white;">$7.0</h4>
<div id="2">
<button type="button" class="btn add-to-cart">Order</button>
</div>
</div>
</div>


<div class="col-sm-4">
<div  style=" background-color: grey;width: 250px;height:200px;padding: 25px;margin: 25px;box-shadow:5px 5px">
<h2 style="padding-left:25px; color:white">Double Cheese Margherita</h2>
<h4 style="color:white;">The popular Margherita loaded with extra cheese... </h4>
<br>
<h4 style="color:white;">$10.0</h4>
<div id="3">
<button type="button" class="btn add-to-cart">Order</button>
</div>
</div>
</div>




  <div class="col-sm-4">
<div  style=" background-color: grey;width: 250px;height:200px;padding: 25px;margin: 25px;box-shadow:5px 5px">
<h2 style="padding-left:25px; color:white">Mexican Green Wave</h2>
<h4 style="color:white;">A pizza loaded with crunchy onions, crisp capsicum, juicy tomatoes and jalapeno....</h4>
<br>
<h4 style="color:white;">$11.0</h4>
<div id="4">
<button type="button" class="btn add-to-cart">Order</button>
</div >
</div>
</div>


<div class="col-sm-4">
<div class="col-sm-4" style=" background-color: grey;width: 250px;height:200px;padding: 25px;margin: 25px;box-shadow:5px 5px">
<h2 style="padding-left:25px; color:white">CHEESE N CORN</h2>
<h4 style="color:white;">Cheese I Golden Corn </h4>
<br>
<h4 style="color:white;">$5.0</h4>
<div id="5">
<button type="button" class="btn add-to-cart">Order</button>
</div>
</div>
</div>


</div>
</div>